/* body {
  background-color: #F9F4F1;
} */

h1 {
  font-family: 'Roboto Slab', serif;
  font-size: 4rem;
  font-weight: 700;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
}


h3 {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: 1.25rem;
  color: #EB5028;
}

h4 {
  font-family: 'Roboto Slab', serif;
  font-weight: 500;
  font-size: 1.25rem;
}

.primary {
  color: #EB5028;
}

nav li {
    list-style-type: none;
  }

a {
  color: #EB5028;
  text-decoration: none;
}

.div-table {
  display: block;
  width: 100%;
  overflow-x: auto;
  margin-bottom: 2rem;
}

.div-table-row {
  display: flex;
  min-width: 600px;
}

.div-table-cell {
  font-size: 14px;
  overflow-wrap: break-word;
  padding: .25rem;
  vertical-align: top;
  box-sizing: border-box;
}

.div-table-cell:first-child {
  padding-right: 1rem;
  font-weight: bold;
  font-family: 'Roboto Slab', serif;
  width: 8rem;
}

.div-table-cell:last-child {
  flex: 1;
}

.primary {
  color: #EB5028;
}

.no-bullet > li {
  list-style-type: none;
  font-size: 14px;
  margin-left: -30px;
}

.card {
  border-radius: 10px; /* Softer corners */
  border: none; /* Remove any default border */
  background: #fff; /* White background for clean look */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); Subtle shadow for a soft, natural floating effect
}

hr {
  border-top: 2px solid black;
  border-width: 2px;
}

.custom-hr {
  height: 1px;
  background-color: grey;
  margin-top: 3rem;
  margin-bottom: 3rem;
  border: none;
}

.text-secondary {
  color: black !important;
  font-family: 'Roboto Slab', serif;
}

#small-text {
  font-size: 14px;
}

.about-list {
  list-style-type: none;
  padding-left: 0;
  line-height: 2rem;
}

footer {
  margin-top: 4rem;
  }

.image-responsive {
    max-width: 100%;
    height: auto;
}

.table td {
  word-break: break-word; /* Breaks the line at natural points */
}

.fas {
  color: #007bff; /* Change color to blue */
}
