h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 4rem;
  font-weight: 700;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: red;
}

.primary {
  color: red;
}

/* li {
  list-style-type: '🤬';
  padding-inline-start: 1ch;
} */

nav li {
    list-style-type: none;
  }

a {
  color: red;
  text-decoration: none;
}

table {
  margin-bottom: 2rem;
}

td:first-child {
  padding-right: 2rem;
  font-weight: bold;
}

td {
  font-size: 14px;
}

.primary {
  color: red;
}

.no-bullet > li {
  list-style-type: none;
  font-size: 14px;
  margin-left: -30px;
}
