body {
  background-color: #C32148;
}

h1 {
  font-family: 'Roboto Slab', serif;
  font-size: 4rem;
  font-weight: 700;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
}


h3 {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: 1.25rem;
  color: #C32148;
}

h4 {
  font-family: 'Roboto Slab', serif;
  font-weight: 500;
  font-size: 1.25rem;
}

.primary {
  color: #C32148;
}

.light-bg {
  background-color: #FAF5EE;
}

nav li {
    list-style-type: none;
  }

a {
  color: #C32148;
  text-decoration: none;
}

.div-table {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  overflow-x: auto;
}

.div-table-row {
  display: flex;
  min-width: 100%;
}

.div-table-cell {
  font-size: 14px;
  padding: .25rem;
  vertical-align: top;
  flex: 1;
}

.div-table-cell:first-child {
  padding-right: 1rem;
  font-weight: bold;
  font-family: 'Roboto Slab', serif;
  width: 8rem;
  flex: none;
}

.primary {
  color: #C32148;
}

.no-bullet > li {
  list-style-type: none;
  font-size: 14px;
  margin-left: -30px;
}

.card {
  border: solid black 2px;
  border-radius: 0;
  transition: box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
}

hr {
  border-top: 2px solid black;
  border-width: 2px;
}

.custom-hr {
  height: 2px;
  background-color: black;
  margin-top: 3rem;
  margin-bottom: 3rem;
  border: none;
}

.text-secondary {
  color: black !important;
  font-family: 'Roboto Slab', serif;
}

#small-text {
  font-size: 14px;
}

.about-list {
  list-style-type: none;
  padding-left: 0;
  line-height: 2rem;
}

footer {
  background-color: white;
  border: solid black 2px;
  margin-top: 4rem;
  }

.image-responsive {
    max-width: 100%;
    height: auto;
}

.table td {
  word-break: break-word; /* Breaks the line at natural points */
}
